.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 220px;
}

.icon-img {
  float: left;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.service-item h4 {
 font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  max-width: 140px;
  margin: 0;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: black;
}